## Ignore Inform temporary files and build results

# Build results
*.materials/
[Ii]ndex/
[Bb]uild/
[Rr]elease/
[Bb]in/
[Rr]eserved/

# Temporary files
*.plist
*.glksave
Metadata.iFiction
Release.blurb
Skein.skein
story.zblorb
story.ni